* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
  }

  :root {
    --main-color: #00575C;
  }
   
  * {
    padding: 0;
    margin: 0;
  }
   
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
   
  p {
    font-family: verdana;
    font-size: 20px;
  }
   
.header {
    padding-top: 2%;
    height: 200%;
    width: 100%;
    background-color: #00575C;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1700px;
    height: 200px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 35vh;
    background: #ffffff;
    overflow: hidden;

}

h1 {
    font-size: 90px;
    color: #222222;

}

p {
    position: relative;
    font-size: 20px;
    color: #ED6448;
    font-weight: 600;
}

section .animate {
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

section.show-animate .animate{
    opacity: 1;
    filter: blur(0);
}

.sec-1 .animate {
    transform: scale(.7);
}

.sec-1.show-animate .animate {
    transform: scale(1);
}

.sec-2 .animate {
    transform: translateX(-100%);
}

.sec-2.show-animate .animate {
    transform: translateX(0);
}

.sec-2 p{
    color: #ED6448;
    font-weight: 600;
}

.sec-3 .animate {
    transform: scale(.7);
}

.sec-3.show-animate .animate {
    transform: scale(1);
}

.sec-3 p{
    color: #ED6448;
}

.sec-4 .animate {
    transform: translateX(-100%);
}

.sec-4.show-animate .animate {
    transform: translateX(0);
}

.sec-4 p{
    color: #ED6448;
}

.sec-5 .images img{
    max-width: 400px;
    margin: 0 30px;
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.sec-5.show-animate .images img{
    transform: translateX(0);
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: rgb(42, 97, 98);
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

  .btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

